.avatar,
.badges,
.badges .badges-right,
.container,
.custom-status,
.id,
.name-box {
  display: flex
}

.profile .banner,
.profile .banner img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%
}

*,
.id {
  font-family: "Playpen Sans", cursive
}

.display-name,
.username {
  color: var(--text-color)
}

* {
  transition: width .5s, height .5s;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none
}

:root {
  --primary-h-top: 206deg;
  --primary-s-top: 41%;
  --primary-l-top: 88%;
  --primary-h-bottom: 212deg;
  --primary-s-bottom: 58%;
  --primary-l-bottom: 44%;
  --text-color: black;
  --box-shadow-color: rgba(0, 0, 0, 0.1)
}

.badges,
